@model Modelo.receta
@{
    ViewBag.Title = "Detalle Receta";
}

<ol class="breadcrumb">
    <li><a href="~/Admin/Receta/">Recetas</a></li>
    <li class="active">@Model.nom_receta</li>
</ol>

<div class="panel panel-success">
    <div class="panel-heading">
        Información de la Receta
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>@Model.id_receta</dd>
            <dt>NOMBRE</dt>
            <dd>@Model.nom_receta</dd>
            <dt>DESCRIPCIÓN</dt>
            <dd>@Model.des_receta</dd>
            <dt>IMAGEN</dt>
            <dd><img class="img-responsive thumbnail" src="~/images/@Model.img_receta" width="15%" height="15%"></dd>
        </dl>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        Ingredientes Receta
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ingrediente</th>
                    <th>Cantidad</th>
                    <th>Unidad Medida</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.ingrediente_receta)
                {
                    <tr>
                        <td>@(i.ingrediente.nom_ingrediente)</td>
                        <td>@(i.cant_ingrediente)</td>
                        <td>@(i.umed_ingrediente)</td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        Pasos Receta
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                @{ int count = 1;}
                @foreach (var p in Model.paso_receta)
                {
                    <tr>
                        <th scope="row">@(count++)</th>
                        <td>@(p.des_paso)</td>
                        <td>@(p.img_paso != null ? "Si" : "No" )</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>