@model Modelo.pedido
@{
    ViewBag.Title = "Hacer un pedido";
    string[,] totalIng =  ViewBag.TotalIng;
    Modelo.dieta dieta = ViewBag.dieta;
    List<Modelo.pedido_producto> pedPro = new List<Modelo.pedido_producto>();
}

@{
    int count = 1;
}

<div class="row">
    <div class="col-sm-12">
        @foreach (var dr in dieta.dieta_receta)
            {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 class="panel-title"><b>Receta @(count++)</b></h3>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-right">
                                <b>Cant. @(dr.cant_persona)</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="os-img-rec-dieta" src="~/images/@dr.receta.img_receta" alt="@(dr.receta.nom_receta)" style="max-width:250px">
                        </div>
                        <div class="col-sm-9">
                            <p style="text-align: justify">
                                <h4><b>@dr.receta.nom_receta</b> <small><a href="#ing@(dr.id_receta)" data-toggle="collapse" aria-expanded="false" aria-controls="ing@(dr.id_receta)">Detalle</a></small></h4>
                                <ul class="list-group collapse" id="ing@(dr.id_receta)">
                                    @foreach (var ir in dr.receta.ingrediente_receta)
                                    {
                                        <li class="list-group-item">
                                            <span class="badge">@(ir.cant_ingrediente * dr.cant_persona) @(ir.umed_ingrediente)</span>
                                            @(ir.ingrediente.nom_ingrediente)
                                        </li>
                                    }
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="panel-title"><b>Resumen Total</b></h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p style="text-align: justify">
                            <h4><b>Ingredientes Necesarios</b> <small><a href="#resumenIng" data-toggle="collapse" aria-expanded="false" aria-controls="resumenIng">Detalle</a></small></h4>
                            <ul class="list-group collapse" id="resumenIng">
                                @{ int total = totalIng.GetUpperBound(0); }
                                @for (int i = 0; i <= total; i++)
                                {
                                    <li class="list-group-item">
                                        <span class="badge">@(totalIng[i, 2]) @(totalIng[i, 3])</span>
                                        @(totalIng[i, 1])
                                    </li>
                                }
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="panel-title"><b>Resumen del Pedido</b></h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <p style="text-align: justify">
                            @using (Html.BeginForm("Crear", "Pedido", FormMethod.Post, new { @class = "form-horizontal", id = "form-pedido" }))
                            {

                                <h4><b>Productos a pedir</b> <small><a href="#resumenPro" data-toggle="collapse" aria-expanded="false" aria-controls="resumenPro">Detalle</a></small></h4>
                                <ul class="list-group collapse" id="resumenPro">
                                    @for (int i = 0; i <= total; i++)
                                    {
                                        var totalPro = Model.obtenerProductosIng(Convert.ToInt16(totalIng[i, 0]));

                                        <li class="list-group-item">
                                            <span class="badge">@(totalIng[i, 2]) @(totalIng[i, 3])</span>
                                            @(totalIng[i, 1])

                                            @if (totalPro.Count() > 0)
                                            {
                                                pedPro.Add(new Modelo.pedido_producto());

                                                <ul style="list-style-type: none">
                                                    @foreach (var p in totalPro)
                                                    {
                                                        int cant = Model.obtenerCantPro(Convert.ToDecimal(totalIng[i, 2]), p.cant_producto);

                                                        <li>
                                                            <div class="radio form-group" style="width:100%">
                                                                <label class="col-xs-12 col-sm-8 control-label">
                                                                    @Html.RadioButtonFor( x => pedPro.Last().id_producto, p.id_producto) @(p.distribuidor.nom_distribuidor) - @(p.marca.nom_marca) @(p.cant_producto + p.umed_producto) - S/ @(p.precio_producto) c/u
                                                                </label>
                                                                <div class="col-xs-12 col-sm-4 input-group">
                                                                    @Html.TextBoxFor(x => pedPro.Last().cant_producto, new { type = "number", @class = "form-control", placeholder = "Cantidad" })
                                                                    @*<input type="number" class="form-control" id="cantPro@(p.id_producto)" min="1" step="1" value="@(cant)">*@
                                                                    <div class="input-group-addon">Unidades</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                            else
                                            {
                                                @(" - Sin Productos Registrados")
                                            }

                                            @Html.ValidationMessageFor(x => pedPro.Last().id_producto, null, new { @class = "label label-danger" })
                                            @Html.ValidationMessageFor(x => pedPro.Last().cant_producto, null, new { @class = "label label-danger" })
                                        </li>
                                    }
                                    <br />
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-default">Hacer Pedido</button>
                                    </div>
                                </ul>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>