@model List<Modelo.usuario>
@{
    ViewBag.Title = "Usuarios";
}

<div class="row">
    <div class="col-sm-6">
        @using (Html.BeginForm("Index", "Usuarios", FormMethod.Post, new { @class = "form-inline", id = "form-dieta" }))
        {
            <div class="form-group">
                <label class="sr-only" for="buscar">Buscar</label>
                <div class="input-group">
                    @Html.TextBox("buscar", null, new { type = "search", @class = "form-control", placeholder = "Buscar", id = "buscar", autocomplete = "off" })
                    <div class="input-group-addon"><a href="javascript: document.getElementById('form-dieta').submit();"><span class="fa fa-search"></span></a></div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6 text-right">
    </div>
</div>

<br />

@*<div class="table-responsive">
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Nombres</th>
                <th class="text-center">Apellidos</th>
                <th class="text-center">Email</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Fecha Nacimiento</th>
                <th class="text-center">Sexo</th>
                <th class="text-center">Tipo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.id_usuario</td>
                    <td>@m.nom_usuario</td>
                    <td>@m.ape_usuario</td>
                    <td>@m.email_usuario</td>
                    <td>@m.tel_usuario</td>
                    <td>@m.fecnac_usuario</td>
                    <td>@m.sex_usuario</td>
                    <td>@m.tipo_usuario</td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

<div class="table-responsive">
    <div class="list-group" id="usuario"></div>
</div>

    <script>
        $(document).ready(function () {
            $("#usuario").anexGrid({
                class: 'table-striped table-hover table-condensed',
                columnas: [
                    //columna1: ID
                    { leyenda: "#", columna: "id_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Nombre", columna: "nom_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Apellido", columna: "ape_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Email", columna: "email_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Teléfono", columna: "tel_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Fecha Nacimiento", columna: "fecnac_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Sexo", columna: "sex_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Tipo Usuario", columna: "tipo_usuario", ordenable: true, class: "text-center" },
                ],

                modelo: [
                    //campo 1: ID
                    { propiedad: 'id_usuario', class: "text-center" },
                    //campo 2: NOMBRE
                    { propiedad: 'nom_usuario', class: "text-center" },

                    { propiedad: 'ape_usuario', class: "text-center" },

                    { propiedad: 'email_usuario', class: "text-center" },

                    { propiedad: 'tel_usuario', class: "text-center" },

                    { propiedad: 'fecnac_usuario', class: "text-center" },

                    { propiedad: 'sex_usuario', class: "text-center" },

                    { propiedad: 'tipo_usuario', class: "text-center" }
                ],
                url: '@Url.Content("~/Usuarios/CargarUsuario/")',
                paginable: true,
                limite: [10, 20, 50, 100],
                columna: 'id_usuario',
                columna_orden: "DESC"
            });
        })
    </script>
