@model List<Modelo.usuario>
@{
    ViewBag.Title = "Usuarios";
}

<div class="row">
    <div class="col-sm-6">
        @using (Html.BeginForm("Index", "Usuarios", FormMethod.Post, new { @class = "form-inline", id = "form-dieta" }))
        {
            <div class="form-group">
                <label class="sr-only" for="buscar">Buscar</label>
                <div class="input-group">
                    @Html.TextBox("buscar", null, new { type = "search", @class = "form-control", placeholder = "Buscar", id = "buscar", autocomplete = "off" })
                    <div class="input-group-addon"><a href="javascript: document.getElementById('form-dieta').submit();"><span class="fa fa-search"></span></a></div>
                </div>
            </div>
        }
    </div>
</div>

<br />

@*<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Nombres</th>
                <th class="text-center">Apellidos</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Email</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Fecha Nacimiento</th>
                <th class="text-center">Sexo</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.id_usuario</td>
                    <td>@m.nom_usuario</td>
                    <td>@m.ape_usuario</td>
                    <td>@m.dir_usuario</td>
                    <td>@m.email_usuario</td>
                    <td>@m.tel_usuario</td>
                    <td>@m.fecnac_usuario</td>
                    <td>@m.sex_usuario</td>
                    <td>@m.tipo_usuario</td>
                    <td>
                        <table class="text-center" style="width:100%;">
                            <tr>
                                <td><a href="~/Admin/Usuarios/Detalle/@m.id_usuario" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Ver Detalle"><span class="fa fa-eye os-ac-icon os-hover-yellow"></span></a></td>
                                <td><a href="~/Admin/Usuarios/Mantenimiento/@m.id_usuario" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Editar"><span class="fa fa-pencil os-ac-icon os-hover-green"></span></a></td>
                                <td><a onclick="return confirm('¿Está seguro de eliminar el registro?');" href="~/Admin/Usuarios/Eliminar/@m.id_usuario" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Eliminar"><span class="fa fa-trash os-ac-icon os-hover-red"></span></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

<div class="table-responsive">
    <div class="list-group" id="usuario"></div>
</div>

    <script>
        $(document).ready(function () {
            $("#usuario").anexGrid({
                class: 'table-striped table-hover table-condensed',
                columnas: [
                    //columna1: ID
                    { leyenda: "#", columna: "id_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Nombre", columna: "nom_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Apellido", columna: "ape_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Foto", columna: "foto_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Email", columna: "email_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Dirección", columna: "dir_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Teléfono", columna: "tel_usuario", ordenable: true, class: "text-center" },

                    //{ leyenda: "Fecha Nacimiento", columna: "fecnac_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Sexo", columna: "sex_usuario", ordenable: true, class: "text-center" },

                    { leyenda: "Tipo Usuario", columna: "tipo_usuario", ordenable: true, class: "text-center" },

                ],

                modelo: [
                    //campo 1: ID
                    { propiedad: 'id_usuario', class: "text-center" },
                    //campo 2: NOMBRE
                    { propiedad: 'nom_usuario', class: "text-center" },

                    { propiedad: 'ape_usuario', class: "text-center" },

                    { propiedad: 'foto_usuario', class: "text-center" },

                    { propiedad: 'email_usuario', class: "text-center" },

                    { propiedad: 'dir_usuario', class: "text-center" },

                    { propiedad: 'tel_usuario', class: "text-center" },

                    //{ propiedad: 'fecnac_usuario', class: "text-center" },

                    { propiedad: 'sex_usuario', class: "text-center" },

                    { propiedad: 'tipo_usuario', class: "text-center" },

                    //para los botones
                    //Botón Visualizar
                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Admin/Usuarios/Detalle/")' + obj.id_usuario,
                                contenido: '<span class="fa fa-eye os-ac-icon os-hover-yellow"></span>',
                                class: 'data-toggle="tooltip" data-placement="bottom" title="Ver Detalle"'
                            });
                        },
                    },
                    //Botón Modificar
                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Admin/Usuarios/Mantenimiento/")' + obj.id_usuario,
                                contenido: '<span class="fa fa-pencil os-ac-icon os-hover-green"></span>',
                                class: 'data-toggle="tooltip" data-placement="bottom" title="Editar"'
                            });
                        },
                    }

                ],

                url: '@Url.Content("~/Usuarios/CargarUsuario/")',
                paginable: true,
                limite: [10, 20, 50, 100],
                columna: 'id_usuario',
                columna_orden: "DESC"
            });
        })
    </script>