@model Modelo.dieta
@{
    ViewBag.Title = Model.nom_dieta;
}

<div class="row">
    <div class="col-sm-6">
        @*@using (Html.BeginForm("Index", "Dieta", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label class="sr-only" for="buscar">Buscar</label>
                <div class="input-group">
                    @Html.TextBox("buscar", null, new { type = "search", @class = "form-control", placeholder = "Ingrese nombre", id = "buscar", autocomplete = "off" })
                    <div class="input-group-addon"><a href="javascript: document.myform.submit();"><span class="fa fa-search"></span></a></div>
                </div>
            </div>
        }*@
    </div>
    <div class="col-sm-6 text-right">
        <a class="btn btn-primary" href="~/Pedido/Dieta/@(Model.id_dieta)" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Hacer Pedido" role="button">
            &nbsp;<span class="fa fa-shopping-cart fa-lg"></span>&nbsp;
        </a>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-12">
        @{ int count = 1;}
        @foreach (var r in Model.dieta_receta)
        {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 class="panel-title">Día @(count++)</h3>
                        </div>
                        <div class="col-xs-6">
                            <h3 class="panel-title text-right">
                                <a href="~/Dieta/EditarReceta/@(Model.id_dieta)?rec=@(r.id_receta)" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Editar">
                                    <span class="fa fa-pencil os-ac-icon os-hover-green"></span>
                                </a>
                                <a onclick="return confirm('¿Eliminar @(r.receta.nom_receta) de la dieta?');" href="~/Dieta/EliminarReceta/@(Model.id_dieta)?rec=@(r.id_receta)" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Eliminar">
                                    <span class="fa fa-trash os-ac-icon os-hover-red"></span>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="os-img-rec-dieta" src="~/images/@r.receta.img_receta" alt="@(r.receta.nom_receta)" style="max-width:250px">
                        </div>
                        <div class="col-sm-9">
                            <p style="text-align: justify">
                                <div class="row">
                                    <div class="col-sm-9 col-lg-10">
                                        <h4><a href="/Home/Receta/@(r.id_receta)" class="os-link"><b>@r.receta.nom_receta</b></a> <span class="fa fa-star-o favorite-icon-inactive"></span></h4>
                                    </div>
                                    <hr class="visible-xs"/>
                                    <div class="col-sm-3 col-lg-2">
                                        @(r.cant_persona) Personas
                                    </div>
                                </div>
                                <hr class="visible-xs" />
                                @(r.receta.des_receta)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>