@model Modelo.categoria
@{
    ViewBag.Title = "Detalle Categoría";
}

<ol class="breadcrumb">

    <li><a href="~/Admin/Categoria/">Categorías</a></li>
    <li class="active">@Model.nom_categoria</li>
</ol>

<div class="panel panel-success">
    <div class="panel-heading">
        Información de la Categoría
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>@Model.id_categoria</dd>
            <dt>NOMBRE</dt>
            <dd>@Model.nom_categoria</dd>
            <dt>IMAGEN</dt>
            <dd>
                <a href="~/images/@Model.img_categoria"><img src="~/images/@Model.img_categoria" width="15%" height="15%"/></a>
            @*<img class="img-responsive thumbnail" src="~/images/@Model.img_categoria" width="15%" height="15%">*@
            </dd>
        </dl>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        Recetas
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Video</th>
                    <th>Dificultad</th>
                    <th>Tiempo</th>
                </tr>
            </thead>
            <tbody>
                @{ int count = 1;}
                @foreach (var r in Model.receta)
                {
                    <tr>
                        <th scope="row">@(count++)</th>
                        <td>@(r.nom_receta)</td>
                        <td>@(r.des_receta.Length > 80 ? r.des_receta.Substring(0, 80) + "..." : r.des_receta)</td>
                        <td>@(r.img_receta != null ? "Si" : "No")</td>
                        <td>@(r.vid_receta != null ? "Si" : "No")</td>
                        <td>@(r.diff_receta)</td>
                        <td>@(r.time_receta)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>