@model List<Modelo.categoria>
@{
    ViewBag.Title = "Categorías";
}

<div class="row">
    <div class="col-sm-6">
        @using (Html.BeginForm("Index", "Categoria", FormMethod.Post, new { @class = "form-inline", id = "form-dieta" }))
        {
            <div class="form-group">
                <label class="sr-only" for="buscar">Buscar</label>
                <div class="input-group">
                    @Html.TextBox("buscar", null, new { type = "search", @class = "form-control", placeholder = "Buscar", id = "buscar", autocomplete = "off" })
                    <div class="input-group-addon"><a href="javascript: document.getElementById('form-dieta').submit();"><span class="fa fa-search"></span></a></div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6 text-right">
        <a class="btn btn-success" href="~/Admin/Categoria/Mantenimiento/" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Nueva Categoría" role="button">
            &nbsp;<span class="fa fa-plus-circle fa-lg"></span>&nbsp;
        </a>
    </div>
</div>

<br />

@*<div class="table-responsive">
    <table class="table table-hover table-bordered table-condensed text-center">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Categoría</th>
                <th class="text-center">Imagen</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            @{ int count = 1;}
            @foreach (var m in Model)
            {
                <tr>
                    <th scope="row">@(count++)</th>
                    <td>@m.nom_categoria</td>
                    <td>@(m.img_categoria != null ? "Si" : "No")</td>
                    <td>
                        <table class="text-center" style="width:100%;">
                            <tr>
                                <td><a href="~/Admin/Categoria/Detalle/@m.id_categoria" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Ver Detalle"><span class="fa fa-eye os-ac-icon os-hover-yellow"></span></a></td>
                                <td><a href="~/Admin/Categoria/Mantenimiento/@m.id_categoria" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Editar"><span class="fa fa-pencil os-ac-icon os-hover-green"></span></a></td>
                                <td><a onclick="return confirm('¿Está seguro de eliminar el registro?');" href="~/Admin/Categoria/Eliminar/@m.id_categoria" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Eliminar"><span class="fa fa-trash os-ac-icon os-hover-red"></span></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

<div class="table-responsive">
    <div class="list-group" id="categoria"></div>
</div>

    <script>
        $(document).ready(function () {
            $("#categoria").anexGrid({
                class: 'table-striped table-hover table-condensed',
                columnas: [
                    //columna1: ID
                    { leyenda: "#", columna: "id_categoria", ordenable: true, class: "text-center" },
                    //columna1: Nombre
                    { leyenda: "Nombre", columna: "nom_categoria", ordenable: true, class: "text-center" },
                    //columna1: Estado
                    { leyenda: "Imagen", columna: "img_categoria", ordenable: true, class: "text-center" },
                    //Columnas de los botones
                    { style: 'Width: 80px;' },//Visualizar
                    { style: 'Width: 80px;' },//Modificar
                    { style: 'Width: 80px;' },//Eliminar
                ],

                modelo: [
                    //campo 1: ID
                    { propiedad: 'id_categoria', class: "text-center" },
                    //campo 2: NOMBRE
                    { propiedad: 'nom_categoria', class: "text-center" },
                    //Campo 3: IMAGEN
                    {
                        propiedad: 'img_categoria', class: "text-center", formato: function (tr, obj, valor) {
                            return valor != null ? "Si" : "No"
                        }
                    },

                    //para los botones
                    //Botón Visualizar
                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Admin/Categoria/Detalle/")' + obj.id_categoria,
                                contenido: '<span class="fa fa-eye os-ac-icon os-hover-yellow"></span>'
                                //class: 'fa fa-eye os-ac-icon os-hover-yellow'
                            });
                        },
                    },
                    //Botón Modificar
                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Admin/Categoria/Mantenimiento/")' + obj.id_categoria,
                                contenido: '<span class="fa fa-pencil os-ac-icon os-hover-green"></span>'
                                //class: 'fa fa-pencil os-ac-icon os-hover-green'
                            });
                        },
                    },
                    //Botón Eliminar
                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Admin/Categoria/Eliminar/")' + obj.id_categoria,
                                contenido: '<span class="fa fa-trash os-ac-icon os-hover-red"></span>',
                                //class: 'fa fa-trash os-ac-icon os-hover-red',
                                attr: [
                                'onclick="return confirm(\'¿Está seguro de eliminar el registro?\')"'
                                ]
                            });
                        },
                    }
                ],
                url: '@Url.Content("~/Categoria/CargarCategoria/")',
                paginable: true,
                limite: [10, 20, 50, 100],
                columna: 'id_categoria',
                columna_orden: "DESC"
            });
        })
    </script>