@model List<Modelo.categoria>
@{
    ViewBag.Title = "Categorías";
}

@using (Html.BeginForm("Index", "Categoria", FormMethod.Post, new { criterio = "frm-buscar" }))
{
    <div class="row">
        <div class="col-sm-5 text-left">
            @Html.TextBox("criterio", null, new { type = "text", @class = "form-control", placeholder = "Ingrese dato a buscar" })
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-lg btn-default fa fa-search" data-toggle="tooltip" title="Buscar"></button>
        </div>
        <div class="col-sm-4 text-right">
            <a class="btn btn-lg btn-success fa fa-plus" href="~/Admin/Categoria/Mantenimiento/0" role="button" data-toggle="tooltip" title="Nueva Categoría"></a>
        </div>
    </div>
}
<hr />
<div class="table-responsive">
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Categoría</th>
                <th class="text-center">Imagen</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.id_categoria</td>
                    <td>@m.nom_categoria</td>
                    <td>@m.img_categoria</td>
                    <td>
                        <table class="text-center" style="width:100%;">
                            <tr>
                                <td><a href="~/Admin/Categoria/Detalle/@m.id_categoria" data-toggle="tooltip" data-placement="bottom" title="Ver Detalle"><span class="fa fa-eye os-ac-icon os-hover-yellow"></span></a></td>
                                <td><a href="~/Admin/Categoria/Mantenimiento/@m.id_categoria" data-toggle="tooltip" data-placement="bottom" title="Editar"><span class="fa fa-pencil os-ac-icon os-hover-green"></span></a></td>
                                <td><a onclick="return confirm('¿Está seguro de eliminar el registro?');" href="~/Admin/Categoria/Eliminar/@m.id_categoria" data-toggle="tooltip" data-placement="bottom" title="Eliminar"><span class="fa fa-trash os-ac-icon os-hover-red"></span></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="list-group" id="categoria"></div>

@*<script>
    $(document).ready(function () {
        $("#categoria").anexGrid({
            class: 'table-striped table-hover table-condensed',
            columnas: [
                //columna1: ID
                { leyenda: "id_categoria", columna: "id_categoria", ordenable: true },
                //columna1: Nombre
                { leyenda: "nom_categoria", columna: "nom_categoria", ordenable: true },
                //columna1: Estado
                { leyenda: "img_categoria", columna: "img_categoria", ordenable: true },
                //Columnas de los botones
                { style: 'Width: 80px;' },//Visualizar
                { style: 'Width: 80px;' },//Modificar
                { style: 'Width: 80px;' },//Eliminar
            ],

            modelo: [
                //campo 1: id_categoria
                { propiedad: 'id_categoria' },
                //campo 2: NOMBRE
                { propiedad: 'nom_categoria' },
                //Campo 3: ESTADO
                { propiedad: 'img_categoria' },

                //para los botones
                //Botón Visualizar
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/Categoria/Ver/")' + obj.id_categoria,
                            contenido: '<i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>',
                            class: 'btn btn-lg btn-primary'
                        });
                    },
                },
                //Botón Modificar
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/Categoria/AgregarEditar/")' + obj.id_categoria,
                            contenido: '<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>',
                            class: 'btn btn-lg btn-info'
                        });
                    },
                },
                //Botón Eliminar
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/Categoria/Eliminar/")' + obj.id_categoria,
                            contenido: '<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>',
                            class: 'btn btn-lg btn-danger',
                            attr: [
                            'onclick="return confirm(\'¿Está seguro de eliminar el registro?\')"'
                            ]
                        });
                    },
                }
            ],
            paginable: true,
            limite: [10, 20, 50, 100],
            columna: 'id_categoria',
            columna_orden: "DESC"
        });
    })
</script>*@