@model List<Modelo.producto>
@{
    ViewBag.Title = "Productos";
}

<div class="row">
    <div class="col-sm-6">
        @using (Html.BeginForm("Index", "Producto", FormMethod.Post, new { @class = "form-inline", id = "form-dieta" }))
        {
            <div class="form-group">
                <label class="sr-only" for="buscar">Buscar</label>
                <div class="input-group">
                    @Html.TextBox("buscar", null, new { type = "search", @class = "form-control", placeholder = "Buscar", id = "buscar", autocomplete = "off" })
                    <div class="input-group-addon"><a href="javascript: document.getElementById('form-dieta').submit();"><span class="fa fa-search"></span></a></div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6 text-right">
        <a class="btn btn-success" href="~/Admin/Producto/Mantenimiento/" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Nuevo Producto" role="button">
            &nbsp;<span class="fa fa-plus-circle fa-lg"></span>&nbsp;
        </a>
    </div>
</div>

<br />

<div class="table-responsive">
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Ingrediente</th>
                <th class="text-center">Distribuidor</th>
                <th class="text-center">Marca</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Medida</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.id_producto</td>
                    <td>@m.ingrediente.nom_ingrediente</td>
                    <td>@m.distribuidor.nom_distribuidor</td>
                    <td>@m.marca.nom_marca</td>
                    <td>@m.des_producto</td>
                    <td>@m.umed_producto</td>
                    <td>@m.cant_producto</td>
                    <td>@m.precio_producto</td>
                    <td>
                        <table class="text-center" style="width:100%;">
                            <tr>
                                <td><a href="~/Admin/Producto/Detalle/@m.id_producto" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Ver Detalle"><span class="fa fa-eye os-ac-icon os-hover-yellow"></span></a></td>
                                <td><a href="~/Admin/Producto/Mantenimiento/@m.id_producto" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Editar"><span class="fa fa-pencil os-ac-icon os-hover-green"></span></a></td>
                                <td><a onclick="return confirm('¿Está seguro de eliminar el registro?');" href="~/Admin/Producto/Eliminar/@m.id_producto" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Eliminar"><span class="fa fa-trash os-ac-icon os-hover-red"></span></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<div class="table-responsive">
    <div class="list-group" id="producto"></div>
</div>

<script>
        $(document).ready(function () {
            $("#producto").anexGrid({
                class: 'table-striped table-hover table-condensed',
                columnas: [
                    //columna1: ID
                    { leyenda: "#", columna: "id_producto", ordenable: true, class: "text-center" },
                    //columna1: Nombre
                    { leyenda: "Ingrediente", columna: "id_ingrediente", ordenable: true, class: "text-center" },

                    { leyenda: "Distribuidor", columna: "id_distribuidor", ordenable: true, class: "text-center" },

                    { leyenda: "Marca", columna: "id_marca", ordenable: true, class: "text-center" },
                    
                    { leyenda: "Descripción", columna: "des_producto", ordenable: true, class: "text-center" },

                    { leyenda: "Unidad Medida", columna: "umed_producto", ordenable: true, class: "text-center" },

                    { leyenda: "Cantidad", columna: "cant_producto", ordenable: true, class: "text-center" },

                    { leyenda: "Precio", columna: "precio_producto", ordenable: true, class: "text-center" },
                    //Columnas de los botones
                    { style: 'Width: 80px;' },//Visualizar
                    { style: 'Width: 80px;' },//Modificar
                    { style: 'Width: 80px;' },//Eliminar
                ],

                modelo: [
                    //campo 1: ID
                    { propiedad: 'id_producto', class: "text-center" },

                    { propiedad: 'id_ingrediente', class: "text-center" },

                    { propiedad: 'id_distribuidor', class: "text-center" },

                    { propiedad: 'id_marca', class: "text-center" },

                    { propiedad: 'des_producto', class: "text-center" },

                    { propiedad: 'umed_producto', class: "text-center" },

                    { propiedad: 'cant_producto', class: "text-center" },

                    { propiedad: 'precio_producto', class: "text-center" },

                    //para los botones
                    //Botón Visualizar
                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Admin/Producto/Detalle/")' + obj.id_producto,
                                contenido: '<span class="fa fa-eye os-ac-icon os-hover-yellow"></span>'
                                //class: 'fa fa-eye os-ac-icon os-hover-yellow'
                            });
                        },
                    },
                    //Botón Modificar
                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Admin/Producto/Mantenimiento/")' + obj.id_producto,
                                contenido: '<span class="fa fa-pencil os-ac-icon os-hover-green"></span>'
                                //class: 'fa fa-pencil os-ac-icon os-hover-green'
                            });
                        },
                    },
                    //Botón Eliminar
                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Admin/Producto/Eliminar/")' + obj.id_producto,
                                contenido: '<span class="fa fa-trash os-ac-icon os-hover-red"></span>',
                                //class: 'fa fa-trash os-ac-icon os-hover-red',
                                attr: [
                                'onclick="return confirm(\'¿Está seguro de eliminar el registro?\')"'
                                ]
                            });
                        },
                    }
                ],
                url: '@Url.Content("~/Producto/CargarProducto/")',
                paginable: true,
                limite: [10, 20, 50, 100],
                columna: 'id_producto',
                columna_orden: "DESC"
            });
        })
</script>*@