@model List<Modelo.distribuidor>
@{
    ViewBag.Title = "Distribuidores";
}
@using (Html.BeginForm("Index", "Distribuidor", FormMethod.Post, new { criterio = "frm-buscar" }))
{
    <div class="row">
        <div class="col-sm-5 text-left">
            @Html.TextBox("criterio", null, new { type = "text", @class = "form-control", placeholder = "Ingrese distribuidor, e-mail o teléfono" })
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Buscar</button>
        </div>
        <div class="col-sm-4 text-right">
            <a class="btn btn-info" href="~/Admin/Distribuidor/Mantenimiento/0" role="button"><i class="fa fa-plus"></i> Nuevo Distribuidor</a>
        </div>
    </div>

}
<hr />
<div class="table-responsive">
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Distribuidor</th>
                <th class="text-center">E-mail</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.id_distribuidor</td>
                    <td>@m.nom_distribuidor</td>
                    <td>@m.email_distribuidor</td>
                    <td>@m.tel_distribuidor</td>
                    <td>@m.estado_distribuidor</td>
                    <td>
                        <a class="btn btn-success" href="~/Admin/Distribuidor/Mantenimiento/@m.id_distribuidor"><i class="fa fa-pencil fa-lg"></i> Modificar</a>
                        <a onclick="return confirm('¿Está seguro de eliminar el registro?');" href="~/Admin/Distribuidor/Eliminar/@m.id_distribuidor" class="btn btn-danger">
                            <i class="fa fa-trash-o fa-lg"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>