@model Modelo.ingrediente_receta
@{
    ViewBag.Title = (Model.id_receta > 0 ? Model.receta.nom_receta : "Agregar Ingredientes");
    List<Modelo.ingrediente> ingredientes = ViewBag.ingredientes;
    Model.id_receta = ViewBag.id;
}

<div class="panel panel-success">
    <div class="panel-heading">
        Ingredientes Receta
    </div>
    @using (Html.BeginForm("Guardar", "IngredienteReceta", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(x => x.id_receta)
        <div class="form-group">
            <label for="id_ingrediente" class="col-sm-4 control-label hidden-xs"><i class="fa fa-spoon fa-2x" aria-hidden="true"></i></label>
            <label for="id_ingrediente" class="col-sm-4 control-label visible-xs">Ingrediente</label>
            <div class="col-sm-4">
                @Html.DropDownListFor( x => x.id_ingrediente, new SelectList(ingredientes, "id_ingrediente", "nom_ingrediente"), new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.id_ingrediente, null, new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="cant_ingrediente" class="col-sm-4 control-label hidden-xs"><i class="fa fa-balance-scale fa-2x" aria-hidden="true"></i></label>
            <label for="cant_ingrediente" class="col-sm-4 control-label visible-xs">Cantidad</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(x => x.cant_ingrediente, new { type = "text", @class = "form-control", placeholder = "Cantidad" })
                @Html.ValidationMessageFor(x => x.cant_ingrediente, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="umed_ingrediente" class="col-sm-4 control-label hidden-xs"><i class="fa fa-tachometer fa-2x" aria-hidden="true"></i></label>
            <label for="umed_ingrediente" class="col-sm-4 control-label visible-xs">Unidad de Medida</label>
            <div class="col-sm-4">
                @Html.DropDownListFor(x => x.umed_ingrediente, new SelectList(new List<Object> { new { value = "g", text = "g" }, new { value = "l", text = "l" }, new { value = "ml", text = "ml" } }, "value", "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.umed_ingrediente, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-success glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Guardar"></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-floppy-remove" onclick="javascript:history.back()" data-toggle="tooltip" title="Cancelar"></button>
            </div>
        </div>
    }
</div>