@model Modelo.ingrediente
@{
    ViewBag.Title = "Registrarse";
}

@using (Html.BeginForm("Mantenimiento", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="nom_usuario" class="col-sm-4 control-label hidden-xs"><span class="fa fa-user fa-2x" aria-hidden="true"></span></label>
        <label for="nom_usuario" class="col-sm-4 control-label visible-xs">Nombre</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.nom_usuario, new { type = "text", @class = "form-control", placeholder = "Nombre" })
            @Html.ValidationMessageFor(x => x.nom_usuario, null, new { @class = "label label-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="ape_usuario" class="col-sm-4 control-label hidden-xs"></label>
        <label for="ape_usuario" class="col-sm-4 control-label visible-xs">Apellido</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.ape_usuario, new { type = "text", @class = "form-control", placeholder = "Apellido" })
            @Html.ValidationMessageFor(x => x.ape_usuario, null, new { @class = "label label-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="email_usuario" class="col-sm-4 control-label hidden-xs"><span class="fa fa-envelope fa-2x"></span></label>
        <label for="email_usuario" class="col-sm-4 control-label visible-xs">Correo Electrónico</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.email_usuario, new { type = "email", @class = "form-control", placeholder = "Correo Electrónico" })
            @Html.ValidationMessageFor(x => x.email_usuario, null, new { @class = "label label-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="tel_usuario" class="col-sm-4 control-label hidden-xs"><span class="fa fa-phone fa-2x"></span></label>
        <label for="tel_usuario" class="col-sm-4 control-label visible-xs">Teléfono</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.tel_usuario, new { type = "tel", @class = "form-control", placeholder = "Teléfono" })
            @Html.ValidationMessageFor(x => x.tel_usuario, null, new { @class = "label label-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="fecnac_usuario" class="col-sm-4 control-label hidden-xs"><span class="fa fa-calendar fa-2x"></span></label>
        <label for="fecnac_usuario" class="col-sm-4 control-label visible-xs">Fecha de Nacimiento</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.fecnac_usuario, new { type = "date", @class = "form-control", placeholder = "Fecha de Nacimiento" })
            @Html.ValidationMessageFor(x => x.fecnac_usuario, null, new { @class = "label label-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label hidden-xs"><span class="fa fa-venus-mars fa-2x"></span></label>
        <label class="col-sm-4 control-label visible-xs">Sexo</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                @Html.RadioButtonFor(x => x.sex_usuario, "Masculino", new { id = "sex_usuario1" }) Masculino
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(x => x.sex_usuario, "Femenino", new { id = "sex_usuario2" }) Femenino
            </label>
            @Html.ValidationMessageFor(x => x.sex_usuario, null, new { @class = "label label-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="pass_usuario" class="col-sm-4 control-label hidden-xs"><span class="fa fa-key fa-2x"></span></label>
        <label for="pass_usuario" class="col-sm-4 control-label visible-xs">Contraseña</label>
        <div class="col-sm-4">
            @Html.PasswordFor(x => x.pass_usuario, new { @class = "form-control", placeholder = "Contraseña" })
            @Html.ValidationMessageFor(x => x.pass_usuario, null, new { @class = "label label-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-default">Registrarse</button>
        </div>
    </div>
}